{{> navBarHeader}}
<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/signup">Signup</a></li>
</ul>
<ul class="nav pull-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in <i class="caret"></i></a>
        <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px">
            <div>
                <form action="">
                    <input id="usr-username dropdown-form" type="text" value="Username">
                    <input id="usr-password" type="password" value="Password">
                    <input id="usr-remember" type="checkbox">
                    <input class="btn btn-primary" type="submit">
                </form>
            </div>
        </div>
    </li>
</ul>
{{> navBarFooter}}