<html>
    <head>
        {{> css}}
        <script src="/js/jq.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/formTextFill.js"></script>
    </head>
    <body>
        {{> navBarGuest}}
        
        <div class="container" id="main">
            <h1>Welcome to Eic</h1>
            <p>we are currently in alpha, visit the signup page to get access when we go into public beta</p>
        </div>
    </body>
</html>