<html>
    <head>
        <title>Login</title>
        {{> css}}
    </head>
    <body>
        {{> navBarGuest}}
        <div class="container" id="main">
            <!-- TODO: Make login form pretty -->
            <form action="/users/login" method="post" class="form-horizontal">
                {{#if message}}
                    <p>{{message}}</p>
                {{/if}}
                <!-- TODO: Make 'school' text field a dropdown -->
                <div class="control-group">
                    <div class="controls">
                        <input type="text" name="school" placeholder="School">
                    </div>
                    <div class="controls">
                        <input type="text" name="username" placeholder="Username" class="block">
                    </div>
                    <div class="controls">
                        <input type="password" name="password" placeholder="Password" class="block">

                    </div>
                    <div class="controls">
                        <button type="submit" class="btn">Submit</button></div>
                </div>
            </form>
        </div>
    </body>
</html>
