<html>
<head>
</head>
<body>
    {{#if info}}
    <p>{{info}}</p>
    {{/if}}
    <!-- TODO: Make even slightly appealing -->    
    <form action="/users/add" method="post">
        <input type="text" name="firstName" placeholder="First Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="text" name="level" placeholder="Level">
        <input type="text" name="email" placeholder="Email">
        <!-- TODO: Make schools a dropdown -->
        <input type="text" name="school" placeholder="School">
        <input type="submit">
    </form>
</body>
</html>